@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body, html {
    font-family: 'Open Sans', 'sans-serif';
    background: transparent;
    height: 100%;
    width: 100%;
}

/* Content */

.container-fluid {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #FFFFFF;
    border: 1px solid #a6a6a8;
    border-radius: 7px 7px 4px 4px;
}

.content {
    padding-top: 15%;
    text-align: center;
}

.push-settings {
    margin-right: 10px;
}